form(style="position:relative")
  .section.row#background-row(style="position:absolute; width:102%; z-index: -1000; margin-top: 0; margin-left: -0.75rem; margin-right:-0.75rem; margin-bottom:0;")
    .col.s4(style="height:100%; background-color:#C5D9F1")
    .col.s4(style="height:100%; background-color:#FCD5B4")
    .col.s4(style="height:100%; background-color:#C5D9F1")  
  .divider
  .section.row
    .col.s4
      h4 Innovator<br>Characteristics
    .col.s4
      h4 Partner<br>Characteristics
    .col.s4
      h4 Deal<br>Characteristics
  .divider
  .section.row
    .input-field.col.s4
      select(name = 'innovatorCountry')
        option(value = '', disabled = '', selected = '') Select an option
        each country in countries
          option(value = country)= country
      label Country
    .input-field.col.s4
      select(name = 'partnerCountry')
        option(value = '', disabled = '', selected = '') Select an option
        each country in countries
          option(value = country)= country
      label Country
    .input-field.col.s4
      input#deal-size.validate(name = 'dealSize', type = 'tel', placeholder = 'in million USD')
      label.active(for = 'deal-size') Deal size
  .divider
  .section.row
    - var startYear = 1668
    - var currentYear = new Date().getFullYear()
    .input-field.col.s4
      label Year innovator was founded
      p.range-field(style='margin-top: 27px')
        input(class='input-year', name='innovatorFoundYear', type='range', min=startYear, max=currentYear, value=currentYear)
    .input-field.col.s4
      label Year partner was founded
      p.range-field(style='margin-top: 27px')
        input(class='input-year', name='partnerFoundYear', type='range', min=startYear, max=currentYear, value=currentYear)
    .input-field.col.s4
      label Year alliance was formed
      p.range-field(style='margin-top: 27px')
        input(class='input-year', name='allianceFormedYear', type='range', min=1990, max=currentYear, value=currentYear)
  .divider
  .section.row
    .input-field.col.s4
      input#innovator-employee-count.validate(name='innovatorEmployeeCount', type='tel')
      label.active(for='innovator-employee-count') Number of employees
    .input-field.col.s4
      input#partner-employee-count.validate(name='partnerEmployeeCount', type='tel')
      label.active(for='partner-employee-count') Number of employees
    .input-field.col.s4
      label.tooltipped(data-position='top', data-delay='50', data-tooltip='The probability that the alliance fails in all therapeutic areas that it targets.') Risk percentage
      p.range-field(style='margin-top: 27px')
        input(name='risk', type='range', min='0', max='100', value='0')
  .divider
  .section.row
    .input-field.col.s4
      p.switch
        label
          | Public firm
          input(name = 'innovatorPublicPrivate', type='checkbox')
          span.lever
          | Private firm
    .input-field.col.s4
      p.switch
        label
          | Public firm
          input(name = 'partnerPublicPrivate', type='checkbox')
          span.lever
          | Private firm
    .input-field.col.s4
      p.switch
        label.tooltipped(data-position='top', data-delay='50', data-tooltip='Indicates whether an alliance involves an exclusive license.')
          | Exclusive
          input(name = 'dealExclusivity', type='checkbox')
          span.lever
          | Non-exclusive
  .divider
  .section.row
    .input-field.col.s4
      p.switch
        label
          | Pharma
          input(name='innovatorBiotech', type='checkbox')
          span.lever
          | Biotech
    .input-field.col.s4
      p.switch
        label
          | Pharma
          input(name='partnerBiotech', type='checkbox')
          span.lever
          | Biotech
    .input-field.col.s4
      p.switch
        label
          | Regional
          input(name='worldwideCoverage', type='checkbox')
          span.lever
          | Worldwide
  .divider
  .section.row
    .input-field.col.s4.offset-s4
      label Number of prior alliances
      p.range-field(style='margin-top: 27px')
        input(name='partnerExperience', type='range', min='0', max='100', value='0')
    .input-field.col.s4
      select(name='npdCycleStages')
        option(value = '', disabled = '', selected = '') Select a stage
        each stage, index in npdCycleStages
          option(value = index+1)!= stage
      label Cycle Stage

// Modal Trigger
a.waves-effect.waves-light.btn#calculate-button(href='#!' style="background-color:rgb(22,54,92)") Calculate
// Modal Structure
#result-modal.modal
  .modal-content
    h4 Result of logistic regression
    p
      |Based on our analysis of 2105 biopharmaceutical alliances, the alliance you specified has a(n) 
      span#result-display
      |% probability of being organized as a collaborative alliance and a(n) 
      span#result-failure-display
      |% probability of being organized as a sequential alliance. For more information on how contract theory helps predict the operational implementation of new product development alliances and more information on the underlying model please 
      a(href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2269381" target="_blank") click here
      |.

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Dismiss

script.
  document.addEventListener('DOMContentLoaded', function(){
    $.countriesScore = !{JSON.stringify(countriesScore)}
    $(function () {
      var height = $('form').height()
      console.log(height)
      $('#background-row').height(height)
    })
  })
